body {
    background-color: #d2e0ec;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.ccontainer {
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.ccontainer h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #1a202c;
}

.ccontainer .header {
    background-color: #071478;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

ul {
    padding-left: 0;
    font-size: 1.25rem;
  
}
.ccontainer ul {
    padding-left: 50px; /* Adjusted indentation */
    list-style-type: disc;
}

.ccontainer ul li {
    margin-bottom: 10px;
    line-height: 1.5;
    padding-left: 20px; /* Adjusted indentation */
}

.ccontainer b {
    font-weight: bold;
}

.mobile-toggler .fa-bars,
.mobile-toggler .fa-x {
    display: none;
}

@media (max-width: 767px) {
    .mobile-toggler .fa-bars {
        display: block;
    }
    .nav-links {
        display: none;
    }
    .mobile-menu.open {
        transform: translateX(0);
    }
    .mobile-menu {
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        z-index: 1000;
    }
    .mobile-menu.hidden {
        transform: translateX(100%);
    }
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 1.25rem;
    border: none;
    outline: none;
    color: white;
    padding: 14px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    display: flex;
    align-items: center;
}

.dropdown .dropbtn .caret {
    margin-left: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}